<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>[TFTCG] {{ target.attrib['name'] }}</title>
  <link rel="stylesheet" type="text/css" href="https://tftcg.github.io/faq/style/style.css"/>
</head>
<body>
    <div id="sitetitle">
        <span id="title_widget">
            TFTCG FAQ
        </span>
        <span style="float: right;">
        <span id="search_widget">
            <img src="https://tftcg.github.io/faq/images/search.svg" onClick="toggleSearch()"/>
        </span>
        <span id="menu_widget">
            <img src="https://tftcg.github.io/faq/images/menu.svg" onClick="dropMenu()"/>
        </span>
        </span>
    </div>
    <!--
    <div id="searchbar">
        <input id="search">
    </div>
    -->
    <div class="content" style="clear: both;">
        <img class="thumb" src="https://tftcg.github.io/faq/card_images/{{ safe_name }}.jpg" width="20%" style="float: right"/>
        <div><a href="index.html">{{ faq_name }}</a></div>
        <h3 class="card_title">{{ target.attrib['name'] }}</h3>
        <ol class="card_faq">

{% for entry in target.findall('entry') %}
    {% if entry.attrib['xref'] %}
      <!-- TODO: Support xref {{ entry.attrib['xref'] }} -->
    {% else %}
    <li class="faq_entry">
      <!-- {{ entry.attrib['id'] }} - {{ entry.attrib['mode'] }} -->
      <div class="question">
        {{ entry.find('question').text }}
      </div>
      <div class="answer">
        {{ entry.find('answer').text }}
      </div>
    </li>
    {% endif %}
{% endfor %}

        </ol>
    </div>

</body>
</html>
