
body {
  background-image: url(../images/Logo.png);
  background-color: black;
}

#logo {
  float: left;
  width: 1em;
  height: 1em;
  margin-bottom: 3px;
  margin-top: -5px;
  margin-left: -5px;
}

#sitetitle {
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}
#title_widget {
}
.content {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

p, ul, ol {
  font-size: 15px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  letter-spacing: -0.004em;
  line-height: 1.58;
}

:target {
    background-color: #ffa;
}

.faq_entry {
    list-style-type: lower-roman;
    padding-left: 1%;
    padding-bottom: 24px;
}
.question {
    font-weight: bold;
    font-style: italic;
}
#search {
    display: none;
}
.thumb {
    padding: 10px;
}

#fort-max-link {
    float: right;
}
#fort-max-link img {
    background-color: #343a40;
    width: 27px;
    height: 24.5px;
}
.fortmaxtext {
    display: none;
}

.tftcg-note:before {
    content: "TFTCG.info: ";
}

.tftcg-note {
    background-color: red;
    color: white;
    width: 80%;
    padding: 0.5em;
    margin-top: 1em;
    font-size: smaller;
}

a.external {
    background: url(../images/external.png) center right no-repeat;
    padding-right: 13px;
}




@media (min-width: 500px) {
  #fort-max-link {
    background-color: #343a40;
  }
  .fortmaxtext {
    padding-right: 5px;
    display: inline;
    font-size: 12px;
    letter-spacing: -1px;
  }
  #fort-max-link img {
    vertical-align: middle;
    width: 18px;
    height: 16.3px;
  }
  #fort-max-link:link {
    color: white;
    text-decoration: none;
  }
  #fort-max-link:visited {
    color: white;
    text-decoration: none;
  }
  #fort-max-link:hover {
    color: white;
    text-decoration: none;
  }
  #fort-max-link:active {
    color: white;
    text-decoration: none;
  }

  #logo {
    width: 2em;
    height: 2em;
    margin-bottom: 5px;
    margin-top: -10px;
    margin-left: -10px;
  }

}

@media (min-width: 800px) {
  .content {
    width: 90%;
    margin: auto;
  }
  body { 
    background-color: black;
    margin: 1em;
  }
  p, ul, ol {
    font-size: 21px;
  }
  #title_widget {
    font-size: 1.5em;
  }
  .fortmaxtext {
    font-size: 15px;
  }
  #fort-max-link {
    padding-top: 2px;
  }
  #fort-max-link img {
    width: 27px;
    height: 24.5px;
  }

}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.ui-helper-hidden-accessible { display:none; }

.ui-draggable, .ui-droppable {
  background-position: top;
}
#search {
  display: none;
  float: right;
}
#menu { 
    width: 150px;
    float: right; 
    display: none;
}
.tabular, .tabular th, .tabular td {
  border: 1px solid black;
  border-collapse: collapse; 
  padding: 1em;
}
