{% extends "base.jinja2" %}

{% block title %}About{% endblock %}

{% block content %}
<p>This FAQ is provided to aid in playing the Transformers Trading Card Game. </p>

<p>All Transformers and Transformers Trading Card Images are Copyrighted Hasbro.com All rights reserved. All audio, visual and textual content on this site (including all names, characters, images, trademarks and logos) are protected by trademark, copyrights and other Intellectual Property rights owned by Hasbro or its subsidiaries, licensors, licensees, suppliers and accounts. </p>

<p>No personal data is stored. </p>
{% endblock %}
