{% extends "base.jinja2" %}

{% block title %}About{% endblock %}

{% block content %}
<p>This FAQ is provided to aid in playing the Transformers Trading Card Game. </p>

<p>All Official FAQ Content, Transformers Images, and Transformers Trading Card Images are Copyright Hasbro, Inc. Transformers and Transformers Trading Card names, characters, images, trademarks and logos are protected by trademark and other Intellectual Property rights owned by Hasbro, Inc. or its subsidiaries, licensors, licensees, suppliers and accounts. Other provided content is the property of the project contributors. </p>

<p>No personal data is stored. </p>
{% endblock %}
