{% extends "base.jinja2" %}

{% block title %}About{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">About</h3>

<p>This FAQ is provided to aid in playing the Transformers Trading Card Game. It is not an official FAQ, however it does include information from the various PDF FAQs and Rules Roundups provided by Wizards of the Coast. Rules Roundup material is cross-referenced into the specific card FAQs to save you having to hunt as far. </p>

<hr/>

<p>All Official FAQ Content, Transformers Images, and Transformers Trading Card Images are Copyright Hasbro, Inc. Transformers and Transformers Trading Card names, characters, images, trademarks and logos are protected by trademark and other Intellectual Property rights owned by Hasbro, Inc. or its subsidiaries, licensors, licensees, suppliers and accounts. Some Official FAQ Questions are (presumably) the property of those submitting the questions. Other provided content is the property of the project contributors. </p>

<p>No personal data is stored. </p>

<p>Icons MIT licensed from <a href="https://feathericons.com/">https://feathericons.com</a>.</p>
{% endblock %}
