{% extends "static-base.jinja2" %}

{% block title %}Mobile App Bugs{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">Known Bugs in the Mobile App</h3>

<ol>
<li>Wipe-Out has Jurassic Punch as the alt thumbnail image. </li>
<li>Wipe-Out is 6 star cost in the app, should be 4 star. </li>
<li>The Beast trait is prefixed with a ' ' in the Character filter. </li>
<li>Stratagems all appear to be configured as Common, breaking the Stratagem filter. </li>
<li>Combiners have no ownership notion; listing your unowned cards always shows the combiners. </li>
<li>Raider Skytread has no card. </li>
<li>Images are sometimes replaced with white or black block images after looking at the card; (for example Fortress Maximus/Sky Shadow-combined). (iOS and Android)</li>
<li>Flintlock is 3 star cost in the app, should be 4 star. </li>
<li>Topspin's alt mode (thumb and full) lack his star cost. </li>
<li>Arcana is Common in the app, should be Rare. </li>
<li>Tidal Wave (all three pieces) are Common in the app, should be Rare. </li>
<li>Hand-to-Hand Combat is Common in the app, should be Uncommon. </li>
<li>Handheld Blaster is Uncommon in the app, should be Common. </li>
<li>Handheld Blaster and Hand-to-Hand Combat appear to be swapped in the Stats section. </li>
<li>Lucky Dodge is 0 star cost in the app, should be 1 star. </li>
<li>Energon Edition Cliffjumper uses Energon Edition Bumblebee's imagery. </li>
<li>All Wave 5 Battle Cards are Actions, including the Upgrades and Secret Actions. </li>
<li>"Attack Bonus" type is very vague. Immersed in Shadow, Point Position, Step Forward are odd examples. </li>
<li>Brass Knuckles is not listed as Bold. </li>
<li>Spiked Bracelet is not listed as Tough. </li>
<li>No card from any wave is listed as Health. </li>
<li>Headbutt is listed as Orange instead of Black. </li>
<li>
</ol>

{% endblock %}
