{% extends "static-base.jinja2" %}

{% block title %}Asking Questions{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">Asking Questions</h3>

<p>With Wizards having retreated from the game, I feel a great emptiness in knowing where I can send my questions. However, Roundups were fairly slow and we were already figuring these things out as a community. If you have a question, your first port of call is to talk with your fellow players, be that at your local game store, on Discord, on Facebook, or all of the above. If you're still not sure what to do, I would love to hear about it. I can't promise an answer, but I will endeavour to work with folk across our community to come up with something. </p>

<p>If you have an issue with Transformer Rules or cards that you and your local group (be that Discord, Facebook, LGS) are stumped on, please feel free to email me. Please ensure you look at the FAQ for that card first, and please use as much language from the card as you can. For anything that relates to state, make sure you've given enough detail of the state of the game that it's clear what the context is. </p>

<p>If you, or your subsequent conversation with your LGS/Discord/Facebook group comes up with a FAQ that others might need, please feel free to send that. The closer it is to publishable the better!</p>

<p>Please send questions and faq suggestions to <a href="mailto:ask@tftcg.info">ask@tftcg.info</a>. </p>

{% endblock %}
