{% extends "static-base.jinja2" %}

{% block title %}AutoCons{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">AutoCons</h3>

        <ol class="card_faq">

    <li class="faq_entry">
            <div class="question">What is an AutoCon?</div>
            <div class="answer">For the purpose of this FAQ page, an AutoCon is an Autobot body with a Decepticon head, or a Decepticon body with an Autobot head. </div>

    </li>
    <li class="faq_entry">
            <div class="question">
            Which card effects can target an AutoCon?
            </div>

            <div class="answer">
            Any effect that refers to a Decepticon or an Autobot. Here is a roughly complete list:

        <ul>
        <li>Decepticon Crown</li>
        <li>Noble's Blaster</li>
        <li>Scoundrel's Blaster</li>
        <li><s>Press the Advantage</s></li>
        <li>Electro-Optical Visor</li>
        <li>Trithyllium Shield</li>
        <li>Turn the Tide</li>
        <li>Deadlock - Soldier Of Fortune (alt mode)</li>
        <li>Octone - Capricious Agitator (alt modes)</li>
        <li>Backfire</li>
        <li>Even the Score</li>
        <li>Opportune Offensive</li>
        <li>Overwhelming Advantage</li>
        <li>Pincer Movement</li>
        <li>Callous Leadership</li>
        <li>HV Electron Breacher</li>
        <li>Field Repair</li>
        <li>Magnetic Dysfunction Ray would do an extra damage to an AutoCon</li>
        <li>Daring Escape</li>
        <li>Opportune Repairs</li>
        <li>Heroic Team-Up</li>
        <li>Skullsmasher - Swamp Warrior (alt mode)</li>
        <li>Optimus Prime - Freedom Fighter (alt mode)</li>
        <li>Sky Shadow - Elite Warrior (combined mode)</li>
        <li>Heroic Resolve</li>
        <li>Step Forward</li>
        <li>Emergency Repair Patch</li>
        <li>Compact Shield</li>
        <li>Ultra Magnus Armor</li>
        <li>Matrix of Leadership</li>
        <li>Energon Mace</li>
    </ul>
    </div>

    </li>
    <li class="faq_entry">
            <div class="question">
            Which cards can I not use if I have an AutoCon on my starting team?
            </div>

            <div class="answer">
            Any effect that refers to having "only Decepticon characters" or "only Autobot characters", or any card that refers to a Decepticon or an Autobot negatively ("Can't be put on Decepticons" for example). Here is a roughly complete list: 

        <ul>
        <li>The second part of Swindled</li>
        <li>Villainous Spotlight</li>
        <li>Heroic Spotlight</li>
        <li>Unflinching Courage</li>
        <li>The second part of Frag Toss</li>
        <li>The second part of Confidence</li>
        <li>Bad Attitude (though you can damage an opponent AutoCon with Bad Attitude)</li>
        <li>The second part of Diagnosis</li>
        <li>Terrifying Resilience</li>
    </ul>
    </div>

    </li>
    <li class="faq_entry">
            <div class="question">
            How does Soldier's Blaster work with AutoCons?
            </div>

            <div class="answer">
        <ul>
            <li>An Autobot has a Soldier's Blaster.  It gets an additional +2 attack against a Decepticon, a Mercenary, or an AutoCon. </li>
            <li>A Decepticon has a Soldier's Blaster. It gets an additional +2 attack against an Autobot, Mercenary, or an AutoCon. </li>
            <li>A Merc has a Soldier's Blaster. It gets an additional +2 attack against an Autobot, Decepticon, or an AutoCon. </li>
            <li>An AutoCon has a Soldier's Blaster. It gets an additional +2 attack only against a Mercenary. </li>
        </ul>
            </div>

            </ol>

{% endblock %}
