{% extends "base.jinja2" %}

{% block title %}{{ faq_name }}{% endblock %}

{% block content %}
        <div><a href="https://tftcg.github.io/faq/index.html">FAQ</a></div>
        <ul>
            {% for target in targets %}
            <li><a href="{{ convert_name(target) }}.html">{{ target }}</a></li>
            {% endfor %}
        </ul>
{% endblock %}
