{% extends "base.jinja2" %}

{% block title %}FAQ{% endblock %}

{% block content %}
<p>This FAQ is stored in XML files. Python and Jinja2 are used to convert those XML files into web pages built using HTML, JavaScript and CSS. </p>

<p>Contributions are VERY welcome, be they ideas, bug reports, or patches. Please join us at <a href="https://github.com/tftcg/faq">github.com/tftcg/faq</a>. </p>
{% endblock %}
