{% extends "base.jinja2" %}

{% block title %}Feedback{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">Feedback</h3>

<p>Please report errors, either to the GitHub project, or by email to feedback at tftcg.info.  Ideas and patches are much appreciated as well. </p>

<p>You can find the GitHub project at <a href="https://github.com/tftcg/faq">github.com/tftcg/faq</a>. </p>
{% endblock %}
