{% extends "base.jinja2" %}

{% block title %}Heads{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">Heads</h3>

<table class="tabular">
<tr><th>Name (*)</th><th>Head Text</th><th>ATK/HP/DEF</th><th>Bot Text</th></tr>
<tr><th colspan="4">Decepticons</th></tr>
<tr><td>Chasm (4)<br/>W5.UTT13</td><td>+2 ATK</td><td>4 / 4 / 0</td><td></td></tr>
<tr><td>Arcana (4)<br/>W5.RP01/2020</td><td>+2 DEF</td><td>4 / 2 / 2</td><td></td></tr>
<tr><td>Doomshot (3)<br/>W5.UTT19</td><td>+ Brave</td><td>3 / 3 / 0</td><td>Brave</td></tr>
<tr><td>Grax (3)<br/>W5.RTT24</td><td>+ 5 HEALTH</td><td>4 / 5 / 0</td><td></td></tr>
<tr><td>Ominus (3)<br/>W5.RTT31</td><td>+ Pierce 4</td><td>2 / 3 / 0</td><td>Pierce 4</td></tr>
<tr><td>Monxo (2)<br/>W5.UTT29</td><td>+ 1 ATK</td><td>3 / 2 / 0</td><td></td></tr>
<tr><td>Brisko (2)<br/>W5.RTT12</td><td>+ 3 HEALTH</td><td>3 / 3 / 0</td><td></td></tr>
<tr><td>Kreb (1)<br/>W5.RTT26</td><td>+ 2 HEALTH</td><td>2 / 2 / 0</td><td></td></tr>
<tr><td>Vorath (1)<br/>W5.RTT42</td><td>+ Tough 1</td><td>2 / 1 / 0</td><td>Tough 1</td></tr>
<tr><th colspan="5">Autobots</th></tr>
<tr><td>Clobber (4)<br/>W5.RTT15</td><td>+ Bold 3</td><td>2 / 4 / 0</td><td>Bold 3</td></tr>
<tr><td>Emissary (4)<br/>W5A.RTT03</td><td>+ Focus 2</td><td>4 / 4 / 0</td><td>Focus 2</td></tr>
<tr><td>Convex (4)<br/>W5.RTP05/2020</td><td>+ Safeguard 3</td><td>4 / 4 / 0</td><td>Safeguard 3</td></tr>
<tr><td>Flintlock (4)<br/>W5.RTT22</td><td>+ Tough 3</td><td>4 / 4 / 0</td><td>Tough 3</td></tr>
<tr><td>Flameout (3)<br/>W5.UTT21</td><td>+ Bold 2</td><td>2 / 2 / 1</td><td>Bold 2</td></tr>
<tr><td>Apex (3)<br/>W5.UTT01</td><td>+ Stealth</td><td>3 / 3 / 0</td><td>Stealth</td></tr>
<tr><td>Freezeout (3)<br/>W5.RTT23</td><td>+ Tough 2</td><td>3 / 3 / 0</td><td>Tough 2</td></tr>
<tr><td>Autobot Stylor (1)<br/>W5.UTT05</td><td>+ 1 DEF</td><td>2 / 1 / 1</td><td></td></tr>
<tr><td>Autobot Teslor (1)<br/>W5.RTT06</td><td>+ Focus 1</td><td>2 / 1 / 1</td><td>Focus 1</td></tr>
<tr><td>Parsec (1)<br/>W5.UTT33</td><td>+ Bold 1</td><td>2 / 1 / 0</td><td>Bold 1</td></tr>
</table>

{% endblock %}
