{% extends "base.jinja2" %}

{% block title %}Heads{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">Heads</h3>

<p>Here are the Head characters available in TFTCG: </p>

<table class="tabular">
<tr><th>Stars</th><th>Name</th><th>Faction</th><th>Head Text</th><th>Stats</th><th>Bot Text</th><th>Rarity</th></tr>
<tr><td>4</td><td>Chasm</td><td>Decepticon</td><td>+2 ATK</td><td>4 ATK / 4 HEALTH / 0 DEF</td><td></td><td>Uncommon</td></tr>
<tr><td>4</td><td>Arcana</td><td>Decepticon</td><td>+2 DEF</td><td>4 ATK / 2 HEALTH / 2 DEF</td><td></td><td>Rare (Promo)</td></tr>
<tr><td>4</td><td>Clobber</td><td>Autobot</td><td>+ Bold 3</td><td>2 ATK / 4 HEALTH / 0 DEF</td><td>Bold 3</td><td>Rare</td></tr>
<tr><td>4</td><td>Emissary</td><td>Autobot</td><td>+ Focus 2</td><td>4 ATK / 4 HEALTH / 0 DEF</td><td>Focus 2</td><td>Rare</td></tr>
<tr><td>4</td><td>Convex</td><td>Autobot</td><td>+ Safeguard 3</td><td>4 ATK / 4 HEALTH / 0 DEF</td><td>Safeguard 3</td><td>Rare</td></tr>
<tr><td>4</td><td>Flintlock</td><td>Autobot</td><td>+ Tough 3</td><td>4 ATK / 4 HEALTH / 0 DEF</td><td>Tough 3</td><td>Rare</td></tr>
<tr><td>3</td><td>Grax</td><td>Decepticon</td><td>+ 5 HEALTH</td><td>4 ATK / 5 HEALTH / 0 DEF</td><td></td><td>Rare</td></tr>
<tr><td>3</td><td>Flameout</td><td>Autobot</td><td>+ Bold 2</td><td>2 ATK / 2 HEALTH / 1 DEF</td><td>Bold 2</td><td>Uncommon</td></tr>
<tr><td>3</td><td>Doomshot</td><td>Autobot</td><td>+ Brave</td><td>3 ATK / 3 HEALTH / 0 DEF</td><td>Brave</td><td>Uncommon</td></tr>
<tr><td>3</td><td>Ominus</td><td>Decepticon</td><td>+ Pierce 4</td><td>2 ATK / 3 HEALTH / 0 DEF</td><td>Pierce 4</td><td>Rare</td></tr>
<tr><td>3</td><td>Apex</td><td>Decepticon</td><td>+ Stealth</td><td>3 ATK / 3 HEALTH / 0 DEF</td><td>Stealth</td><td>Uncommon</td></tr>
<tr><td>3</td><td>Freezeout</td><td>Autobot</td><td>+ Tough 2</td><td>3 ATK / 3 HEALTH / 0 DEF</td><td>Tough 2</td><td>Rare</td></tr>
<tr><td>2</td><td>Monxo</td><td>Decepticon</td><td>+ 1 ATK</td><td>3 ATK / 2 HEALTH / 0 DEF</td><td></td><td>Rare</td></tr>
<tr><td>2</td><td>Brisko</td><td>Decepticon</td><td>+ 3 HEALTH</td><td>3 ATK / 3 HEALTH / 0 DEF</td><td></td><td>Rare</td></tr>
<tr><td>2</td><td>Autobot Stylor</td><td>Autobot</td><td>+ 1 DEF</td><td>2 ATK / 1 HEALTH / 1 DEF</td><td></td><td>Rare</td></tr>
<tr><td>2</td><td>Autobot Teslor</td><td>Autobot</td><td>+ Focus 1</td><td>2 ATK / 1 HEALTH / 1 DEF</td><td>Focus 1</td><td>Rare</td></tr>
<tr><td>1</td><td>Kreb</td><td>Decepticon</td><td>+ 2 HEALTH</td><td>2 ATK / 2 HEALTH / 0 DEF</td><td></td><td>Rare</td></tr>
<tr><td>1</td><td>Parsec</td><td>Autobot</td><td>+ Bold 1</td><td>2 ATK / 1 HEALTH / 0 DEF</td><td>Bold 1</td><td>Rare</td></tr>
<tr><td>1</td><td>Vorath</td><td>Decepticon</td><td>+ Tough 1</td><td>2 ATK / 1 HEALTH / 0 DEF</td><td>Tough 1</td><td>Rare</td></tr>
</table>

{% endblock %}
