{% extends "base.jinja2" %}

{% block title %}FAQ{% endblock %}

{% block content %}
      <ul>
        <li><a href="Wave_1/Characters/index.html">Wave 1 Characters</a></li>
        <li><a href="Wave_1/Battle_Cards/index.html">Wave 1 Battle Cards</a></li>
        <li><a href="Wave_2/Characters/index.html">Wave 2 Characters</a></li>
        <li><a href="Wave_2/Battle_Cards/index.html">Wave 2 Battle Cards</a></li>
        <li><a href="Wave_3/Characters/index.html">Wave 3 Characters</a></li>
        <li><a href="Wave_3/Battle_Cards/index.html">Wave 3 Battle Cards</a></li>
        <li><a href="Wave_4/Characters/index.html">Wave 4 Characters</a></li>
        <li><a href="Wave_4/Battle_Cards/index.html">Wave 4 Battle Cards</a></li>
        <li><a href="Rules_Roundup/index.html">Rules Roundup</a></li>
        <li><a href="Tournaments/Constructed/index.html">Tournaments - Constructed</a></li>
        <li><a href="Glossary/index.html">Glossary</a> (Unofficial)</li>
      </ul>
{% endblock %}
