{% extends "base.jinja2" %}

{% block title %}{{ target.attrib['name'] }}{% endblock %}

{% block content %}
        <!--
        <img class="thumb" src="/card_images/{{ safe_name }}.jpg" width="20%" style="float: right"/>
        -->
        <div><a href="index.html">{{ faq_name }}</a></div>
        <h3 class="card_title">{{ target.attrib['name'] }}</h3>
        <ol class="card_faq">

{% for entry in target.findall('entry') %}
    {% if entry.attrib['xref'] %}
      {% set xref_block = get_xref(entry.attrib['xref'], parent_path) %}
      {% set faq_node = xref_block[0] %}
      {% set source_info = xref_block[1] %}
    {% else %}
      {% set faq_node = entry %}
      {% set source_info = default_source_info %}
    {% endif %}
    <li class="faq_entry">
      <!-- {{ faq_node.attrib['id'] }} - {{ faq_node.attrib['mode'] }} -->
      <div class="question">
        {{ faq_node.find('question').text }}
        <span><a href="{{ source_info['link'] }}"><img src="https://tftcg.info/images/source-{{ source_info['color'] }}.svg" title="{{ source_info['name'] }}"/></a></span>
      </div>
      <div class="answer">
        {{ faq_node.find('answer').text }}
      </div>
    </li>
{% endfor %}

        </ol>
{% endblock %}
