{% extends "base.jinja2" %}

{% block title %}{{ target.attrib['name'] }}{% endblock %}

{% block content %}
        <img class="thumb" src="https://tftcg.github.io/faq/card_images/{{ safe_name }}.jpg" width="20%" style="float: right"/>
        <div><a href="index.html">{{ faq_name }}</a></div>
        <h3 class="card_title">{{ target.attrib['name'] }}</h3>
        <ol class="card_faq">

{% for entry in target.findall('entry') %}
    {% if entry.attrib['xref'] %}
      <!-- TODO: Support xref {{ entry.attrib['xref'] }} -->
    {% else %}
    <li class="faq_entry">
      <!-- {{ entry.attrib['id'] }} - {{ entry.attrib['mode'] }} -->
      <div class="question">
        {{ entry.find('question').text }}
      </div>
      <div class="answer">
        {{ entry.find('answer').text }}
      </div>
    </li>
    {% endif %}
{% endfor %}

        </ol>
{% endblock %}
