{% extends "base.jinja2" %}

{% block title %}{{ faq_name }}{% endblock %}

{% block social %}
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{pretty_path}} / {{ faq_name }} FAQ ({{ entries|length }})"/>
  <meta property="og:description" content="TFTCG.info provides an easy way to access, and share, Transformers the Trading Card Game FAQs, Rules Roundups, and additional community FAQS. "/>
  <meta property="og:url" content="https://tftcg.info/{{ filename }}"/>
  {% if tag_node.attrib['wave_code'] %}
  <meta property="og:image" content="https://images.fortressmaximus.io/cards/{{ f_build_image_path(pretty_path, tag_node) }}.jpg"/>
  <meta property="og:image:alt" content="The {{ faq_name }} card"/>
  <meta property="og:image:width" content="200"/>
  <meta property="og:image:height" content="280"/>
  {% else %}
  <meta property="og:image" content="https://tftcg.info/images/favicon-200x200.png"/>
  <meta property="og:image:alt" content="TFTCG.info Logo"/>
  <meta property="og:image:width" content="200"/>
  <meta property="og:image:height" content="200"/>
  {% endif %}
{% endblock %}

{% block content %}
        {% if parent_stack|length %}
        <div>
          {% set updir_array=parent_stack|length * ['../',] %}
          {% set ignore = updir_array.pop() %}
          {% for parent_node in parent_stack %}
              <a href="{{ ''.join(updir_array) }}index.html">{{ parent_node.attrib['name'] }}</a> /
              {% if updir_array|length %}
                  {% set ignore = updir_array.pop() %}
              {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if tag_node.attrib['wave_code'] %}
          <a id="fort-max-link" href="https://fortressmaximus.io/card/{{ f_safe_name(tag_node.attrib['name']) }}-{{ tag_node.attrib['wave_code']}}"><img src="/images/FortMax-Logo.png"><span class="fortmaxtext"> View On FortressMaximus.io</span></a></a>
        {% endif %}
        <h3 class="card_title">{{ faq_name }}</h3>

        <ol class="card_faq">

{% for entry in entries %}

    {% if 'xref' in entry[2].attrib %}
      {% set faq_node = f_get_xref(entry[2].attrib['xref'], faq_db) %}
    {% else %}
      {% set faq_node = entry %}
    {% endif %}

    <li id="{{ faq_node[3] }}__{{ faq_node[2].attrib['id'] }}" class="faq_entry">
      {% if faq_node[2].attrib['mode'] %}
          <!-- mode = {{ faq_node[2].attrib['mode'] }} -->
      {% endif %}
      <div class="question">
        <a name="{{ faq_node[3] }}__{{ faq_node[2].attrib['id'] }}"/>
        {{ f_prepare_text(faq_node[2].find('question'), faq_node[4]) }}
        <span><a href="{{ faq_node[1] }}"><img src="/images/source-{{ f_source_image_name(faq_node[0]) }}.svg" title="{{ faq_node[0] }}"/></a> <a href="#{{ faq_node[3] }}__{{ faq_node[2].attrib['id'] }}"><img src="/images/permalink.svg"/></a></span>
      </div>
      <div class="answer">
        {{ f_prepare_text(faq_node[2].find('answer'), faq_node[4]) }}
      </div>
    </li>
{% endfor %}

        </ol>
{% endblock %}
