{% extends "base.jinja2" %}

{% block title %}Sources{% endblock %}

{% block content %}

        <div><a href="index.html">FAQ</a></div>
        <h3 class="card_title">Sources</h3>

<p>Data on this site is sourced from various official and unofficial locations. The following table describes each. </p>

<table class="tabular">
<tr>
<td><img src="/images/source-gold.svg"/></td>
<td>Official FAQs</td>
<td>The TFTCG folk at WotC have a number of PDF FAQs that are included in this site: 
<ul>
<li><a href="https://wpn.wizards.com/en/document/transformers-tcg-faq">Wave 1 FAQ</a></li>
<li><a href="https://transformerstcg.hasbro.com/en-us/howtoplay">Wave 2 and 3 FAQ</a></li>
<li><a href="https://transformerstcg-support.wizards.com/hc/en-us/articles/360035662892-War-for-Cybertron-Siege-II-FAQ-and-Rules-Roundup">Wave 4 FAQ</a></li>
<li><a href="https://wpn.wizards.com/en/document/transformers-tcg-tournament-rules">Tournament Rules</a></li>
</ul>
</td>
</tr>
<tr>
<td><img src="/images/source-red.svg"/></td>
<td>Rules Roundup</td>
<td>Those same excellent folk at WotC provide periodic additional answers to questions emailed to them in their <a href="https://transformerstcg-support.wizards.com/hc/en-us/sections/360006518052-Rules-Roundups-FAQs">Rules Roundup section</a>. </td>
</tr>
<tr>
<td><img src="/images/source-blue.svg"/></td>
<td>Community</td>
<td>Other FAQ information is contributed to this site by the community. </td>
</tr>
</table>

{% endblock %}
